# Import Required Libraries

In [1]:
import pickle 
import pandas as pd
import numpy as np

# Reading the CSV File

In [2]:
data=pd.read_csv('cpdata.csv')
data.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

# Creating label encoder for target variable

In [3]:
from sklearn import preprocessing
category_col =['label']
labelEncoder = preprocessing.LabelEncoder() 
  
mapping_dict ={} 
for col in category_col: 
    data[col] = labelEncoder.fit_transform(data[col]) 
  
    le_name_mapping = dict(zip(labelEncoder.classes_,labelEncoder.transform(labelEncoder.classes_))) 
  
    mapping_dict[col]= le_name_mapping 
print(mapping_dict)

{'label': {'Adzuki Beans': 0, 'Black gram': 1, 'Chickpea': 2, 'Coconut': 3, 'Coffee': 4, 'Cotton': 5, 'Ground Nut': 6, 'Jute': 7, 'Kidney Beans': 8, 'Lentil': 9, 'Moth Beans': 10, 'Mung Bean': 11, 'Peas': 12, 'Pigeon Peas': 13, 'Rubber': 14, 'Sugarcane': 15, 'Tea': 16, 'Tobacco': 17, 'apple': 18, 'banana': 19, 'grapes': 20, 'maize': 21, 'mango': 22, 'millet': 23, 'muskmelon': 24, 'orange': 25, 'papaya': 26, 'pomegranate': 27, 'rice': 28, 'watermelon': 29, 'wheat': 30}}

In [4]:
data.head()

   temperature   humidity        ph    rainfall  label
0    20.879744  82.002744  6.502985  202.935536     28
1    21.770462  80.319644  7.038096  226.655537     28
2    23.004459  82.320763  7.840207  263.964248     28
3    26.491096  80.158363  6.980401  242.864034     28
4    20.130175  81.604873  7.628473  262.717340     28

In [5]:
train=data.iloc[:, 0:4].values
test=data.iloc[: ,4:].values

# Prediction Part- Random Forest

In [6]:
#Extracting Independent and dependent Variable  
x= data.iloc[:, 0:4].values  
y= data.iloc[:, 4:].values  
  
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.25, random_state=0)

In [7]:
#Fitting Decision Tree classifier to the training set  
from sklearn.ensemble.partial_dependence import partial_dependence
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier  
classifier= RandomForestClassifier(n_estimators= 10, criterion="entropy")  
classifier.fit(x_train, y_train)

C:\Users\irsha\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [8]:
#Predicting the test set result  
y_pred= classifier.predict(x_test)

In [9]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        22
           1       0.95      0.95      0.95        22
           2       1.00      1.00      1.00        22
           3       1.00      1.00      1.00        23
           4       0.87      0.95      0.91        21
           5       0.94      0.97      0.95        32
           6       0.90      0.93      0.92        29
           7       1.00      0.85      0.92        27
           8       1.00      1.00      1.00        19
           9       0.97      1.00      0.98        30
          10       0.90      0.86      0.88        21
          11       1.00      0.96      0.98        25
          12       1.00      1.00      1.00        20
          13       1.00      0.71      0.83        21
          14       1.00      1.00      1.00        29
          15       0.88      0.85      0.87        27
          16       0.93      1.00      0.96        25
          17       0.89      1.00      0.94        25
          18       0.94      1.00      0.97        32
          19       0.86      1.00      0.93        25
          20       0.95      0.95      0.95        21
          21       0.93      0.84      0.89        32
          22       0.90      0.96      0.93        28
          23       1.00      1.00      1.00        28
          24       1.00      1.00      1.00        25
          25       0.81      1.00      0.89        21
          26       1.00      0.86      0.92        28
          27       1.00      0.83      0.90        23
          28       0.95      1.00      0.98        21
          29       0.96      1.00      0.98        27
          30       0.70      0.67      0.68        24

    accuracy                           0.94       775
   macro avg       0.94      0.94      0.94       775
weighted avg       0.94      0.94      0.94       775

In [10]:
from sklearn.metrics import accuracy_score
# Finding the accuracy of the model
a=accuracy_score(y_test,y_pred)
print("The accuracy of this model is: ", a*100)

The accuracy of this model is:  94.06451612903226

In [11]:
data[data['label']==0]

      temperature   humidity        ph    rainfall  label
1900    51.395179  46.579188  6.332919  105.272329      0
1901    51.750697  54.662403  6.511772  166.146187      0
1902    53.017400  49.864205  5.299104   65.959049      0
1903    53.211092  61.440867  5.322864   64.152838      0
1904    50.875089  52.118891  7.377994  163.452682      0
...           ...        ...       ...         ...    ...
1995    51.492864  54.674853  6.027664   96.354922      0
1996    51.159522  47.477013  6.210916  119.611188      0
1997    53.137677  56.497744  6.659951  149.298189      0
1998    53.815978  57.855267  7.025093   68.522672      0
1999    50.745160  51.827486  6.580311   76.603829      0

[100 rows x 5 columns]

# Save the model using pickle

In [12]:
pickle.dump(classifier, open('crop.pkl','wb'))

In [13]:
data.to_csv('crop_data.csv')

In [14]:
print(classifier.predict([[53.017400,49.864205,5.299104,65.959049]]))

[0]